<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--===========================Таблица пользователей====================================================-->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="job_lists m-0">
                        <table border="2">
                            <th>id</th>
                            <th>name</th>
                            <th>password</th>
                            <th>company_id</th>
                            {% for user in users %}
                            <tr>
                                <td>{{user[0]}}</td>
                                <td>{{user[1]}}</td>
                                <td>{{user[2]}}</td>
                                <td>{{user[3]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===========================Таблица событий====================================================-->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="job_lists m-0">
                        <table border="2">
                            <th>id</th>
                            <th>date</th>
                            <th>dev_id</th>
                            <th>reason</th>
                            {% for event in events %}
                            <tr>
                                <td>{{event[0]}}</td>
                                <td>{{event[1]}}</td>
                                <td>{{event[2]}}</td>
                                <td>{{event[3]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>